extends layout

block content
    table
        thead
            tr
                td Name
                td E-mail Address
        tbody.contacts
            tr.contact
                td.name
                td.email
        tfoot
            tr
                td(colspan=2)= contacts.length + ' ' + (contacts.length==1 ? 'item' : 'items')
