doctype html
html
    head
        meta(charset='UTF-8')
        title(class='title') Sample Title
        block head

    body
        ul#menus
            li.menu
                a.name
        #content
            block content
