extends ../../../views/layout

block content
    table
        thead
            tr
                td Name
                td E-mail Address
        tbody.contacts
            tr.contact
                td.name
                td.email
        tfoot
            tr
                td.count(colspan=2)
