doctype html
html
    head
        meta(charset='UTF-8')
        title(class='title') Sample Title
        block head

    body
        #headers!= headers
            
        #content
            block content

        #footers!= footers
